.admin-container {
    width: 50%;
    margin: auto;
    margin-top: 0px;
    text-align: center;
}

.candidate-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.candidate-form input, .candidate-form textarea {
    width: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.candidate-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.candidate-list {
    margin-top: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child() {
    background-color: #f2f2f2;
}
